html, body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(245, 245, 251); */
  font-family: 'Do Hyeon', sans-serif!important;
}
a:visited{
  color: inherit;
}
/*   이미지를 위한 css   */
.wrapper {
  max-width: 980px;
  margin: 20px auto;
  /*            background-color: beige;*/
}

.cover {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}

.cover-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

img {
  max-width: 100%;

}

/*   정렬     */
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.delm4 {
  margin-right: -4px;
}

/*   width값 조절     */
.quarter {
  width: 24.99%
}

.half {
  width: 49.99%;
}

.third {
  width: 33.33%;
}

/*  input 값 받을 폼     */
.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #6A8476;
  background-color: #6A8476;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: white;
  float: right;
  margin: 10px 10px;
}

.button:hover{
  background-color: rgb(109, 207, 102);
}

.button_2{
   text-align:center;
   color:white;
}

.section {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.pack_hr::after {
  content: "";
  display: table;
  clear: both;
}

.text {
  width: 100%;
  padding: 0px;
  /* margin-top: 10px; */
  padding-right: 0px;


  font-size:0.6em;
  margin-top: 0px;
}

/*  header, navigation*/
.header1 {
  background-color: cadetblue;
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
}

.nav1 {
  background-color: darksalmon;
  height: 50px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.nav1 a {
  display: inline-block;
  width: calc(25% - 0.3px);
  box-sizing: border-box;
  padding-top: 16.25px;
  padding-bottom: 16.25px;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
  padding: 0;
  padding-inline-start: 0px !important;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

.header2 {
  background-color: cadetblue;
  width: 100px;
  height: 100vh;
  position: fixed;
}

.nav2 {
  background-color: darksalmon;
  height: 100vh;
  width: 100px;
  /*    margin-top: 50px;*/
  text-align: center;
}

.nav2 a {
  display: block;
  margin-right: 0px;
}

.section1 {
  max-width: 100%;
  margin: auto;
}

/* footer */
.footer1 {
  background-color: aquamarine;
  height: 100px;
}

/* 금요일 정렬 */
.color1{
  background-color:#fab1a0;
}
.color2{
  background-color: #fdcb6e;
}
.color3{
  background-color: #74b9ff;
}
.color4{
  background-color: rgb(209, 215, 179);
}
.color5{
  background-color: #786fa6;
}


/* navbar */

body { margin: 0; }
.navbar{
  margin-bottom: 10px;
}
.navbar>ul {
  background: rgb(224, 112, 104);
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar>ul>li {
  display: inline-block;
  padding: 0;
  border:none;
}
.navbar>ul>li>a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
}
.navbar>ul>li>a:hover { background:rgb(119, 55, 107); }


.footer{
  margin-top: 10px;
}
.footer>ul{
  text-align: center;
  background: rgb(147, 133, 97);
  margin: 0;
  padding:0;
  list-style: none;
}

.footer>ul>li{
  display: inline-block;
  padding: 0;
  border:none;
  width: 15%;
}

.footer>ul>li>a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
}

.faqDiv{
  margin:20px 0px;
  max-width:600px;
  min-width:600px;
  display:inline-block;
}
/* searchBar */
.green_window {
	display: inline-block;
	width: 366px; height: 34px;
	border: 3px solid #6A8476;
	background: white;
}
.input_text {
	width: 348px; height: 21px;
	margin: 6px 0 0 9px;
	border: 0;
	line-height: 21px;
	font-weight: bold;
	font-size: 16px;
	outline: none;
}
.sch_smit {
	width: 54px; height: 40px;
	margin: 0; border: 0;
	vertical-align: top;
	background: #6A8476;
	color: white;
	font-weight: bold;
	border-radius: 1px;
	cursor: pointer;
}
.sch_smit:hover {
	background: #57be87;
}

.list_faq{
  background: rgb(217, 108, 47);
  margin-bottom: 10px;
  display: block;
}
.list_faq>strong{
  display:block;
  padding:10px 0px;
}
.list_faq2{
  display: block;
  padding-top: 10px;
  background: white;
}
.ul_faq{
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  box-sizing: border-box;
}

.ml{
  margin-left:10px;
}

.uul{
  padding-top: 40px;
  text-align: center;
}
.uul li{
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 1.1em;
  text-align: center!important;
  width: 24%;
  max-width: calc(960px / 4);
  /* margin:4px 0; */
}



/* 여기서부터 다시 */
header {padding: 30px 0; text-align: center; background-color: #6a8476;}
header img {height: 46px;}
header>ul>li{
  color: white;
}
footer {height: 210px; text-align: center; background-color: #434b58; color: white;}
.sns-area, .sns-box {padding: 30px 0;}
.sns-box a {text-decoration: none; color: white; padding: 0 15px;}
.sns-box a:hover {color: #72af2c;}

.nav_1{
  padding:10px 0;
  border: none!important;
  background-color: rgb(129, 180, 226);
  border-radius: 10px;
}

.nav_1:hover{
  cursor: pointer;
  background-color: rgb(84, 162, 143);
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.wrapper>h2{
  padding-left: 20px;
  font-size: 1.5em;
}

.accordion {
  width: 80%;
  background-color: #a2b696;
  color: #444;
  cursor: pointer;
  padding:10px;
  /* width: 100%; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin:10px 0px;
  min-height: 80px;
    font-family: 'Do Hyeon', sans-serif;
}

.active, .accordion:hover {
  background-color: #b8cdb5;
}

.panel {
  text-align: left;
  padding: 0 18px;
  background-color: rgb(218, 216, 207);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.inp_ul{
  background-color: rgb(209, 193, 203);
}

.inp_ul>li{
  display: inline-block;
  width: calc(100% / 7);
  font-size: 0.5em;
  margin-right: -4px;
    border-right:1px solid black;
  box-sizing: border-box;
  text-align: center
}
.inp_ul>li>input{
    padding: 10px 0px!important;
    display: inline;
}
.inp_ul>li:nth-child(1){
  width: calc(100% / 40);
  margin-left: 2%;
}
.inp_ul>li:nth-child(2){
  width: calc(100% / 40);
}
.inp_ul>li:nth-child(4){
  width: calc(100% / 30);
}
.inp_ul>li:nth-child(5){
  width: calc(100% / 30);
}
.inp_ul>li:nth-child(7){
  width: calc(100% / 20);
  border: none;
}
.inp_ul>li:nth-child(11){
  width: calc(100% / 20);
  border: none;
}
.inp_ul>li:nth-child(7){
  /* display: none; */
  border-right: 1px solid black;
}
.inp_re>li:nth-child(8){
  display: none;
}
.inp_re>li:nth-child(9){
display: none;
}
.inp_re>li:nth-child(10){
display: none;
}
.inp_re>li:nth-child(11){
display: none;
}
.inp_ul>li:nth-child(15){
  width: calc(100% / 20);
  border: none;
}
.bgwhite{
  position: relative;
}
.radio,.radio>div{
  font-size: 1em;
  border: none;
  font-weight: bold;
}
#mySidesp{
  display: none;
}
.abc{
  border: none;
}

.bdnon{
  border:none!important;
  box-sizing: none;
}
.writeFormR>input{
  display: inline!important;
}

.popup{
  z-index:1;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:30%;
  height:50%;
  background-color:white;
  text-align: center;
}
@media screen and (max-width:768px){
  .radio{
    width: 100%;
    text-align: center;
  }
  .bgwhite{
    min-height: 150px;
  }
  .inp_ul>li{
    display: inline-block;
    width: calc(100% / 4);
    font-size: 0.5em;
    margin-right: -4px;
    border-right:1px solid black;
    box-sizing: border-box;
  }
  .inp_ul>li>input{
      padding: 10px 0px!important;
      display: inline;
  }
  .inp_ul>li:nth-child(1){
    width: calc(100% / 20);
    margin-bottom: 20px;
    margin-left: 8%;
  }
  .inp_ul>li:nth-child(2){
    width: calc(100% / 20);
  }
  .inp_ul>li:nth-child(4){
    width: calc(100% / 15);
  }
  .inp_ul>li:nth-child(5){
    width: calc(100% / 15);
  }
  .inp_ul>li:nth-child(7){
    width: calc(100% / 9);
    border: none;
  }
  .inp_ul>li:nth-child(8){
    margin-left: 8%;
  }
  .inp_ul>li:nth-child(11){
    width: calc(100% / 10);
    border: none;
  }
  .inp_ul>li:nth-child(15){
    width: calc(100% / 10);
    border: none;
  }
  .inp_re{
    position: absolute;
    top: 30px;
    left:0;
  }
  .inp_re>li:nth-child(8){
    display: inline-block;
  }
  .inp_re>li:nth-child(9){
    display: inline-block;
  }
  .inp_re>li:nth-child(10){
    display: inline-block;
  }
  .inp_re>li:nth-child(11){
    display: inline-block;
  }
  .inp_re>li:nth-child(12){
    display: inline-block;
    margin-left: 8%;
  }
}


@media screen and (max-width:576px){
  header {padding: 10px 0;}
  .half{
    width: 100%;
  }
  header>.uul{
    display: none;
  }
  #mySidesp{
    display: inline;
    font-size: 3em;
    color:white;
    text-align: left;
    float: left;
  }
  #mySidesp:hover{
    cursor: pointer;
  }

}
