.sanghyeok_color {
    background-color: #2ecc71;
    height: 500px;
}

.bgcolor_sh {
    background-color: #f6f6f6;
}

.pad_sh {
    padding-top: 60px;
    padding-right: 50px;
    padding-bottom: 60px;
    padding-left: 50px;
}

.row_sh {
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
}

.imgbx_sh {
    width: calc((100% / 3) - 30px);
    display: block;
    position: relative;
    padding: 0 15px;
    float: left;
}

.imgspace_sh {
    
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    border-radius: 0;

    display: block;
    margin-bottom: 20px;
    background-color: white;
    box-sizing: border-box;
}

.imgspace_sh img {
    width: 100%;
    height: 100%;


    margin-bottom: 10px;
}

.marauto_sh {
    margin-left: 0%;
    margin-right: auto;

}

.box_sh {
    box-sizing: border-box;
}
.fontma_sh{
    font-style: normal;
    font-variant: normal;
    font-size: 15px;
    font-family: Lato,sans-serif;
    color: #818181;
    margin-bottom: 10px;
}
.fontne_sh{
     font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-size: 15px;
    font-family: Lato,sans-serif;
    color: #818181;
}
.wt_sh{
    width: 
}
.margint_sh{
    margin-bottom: 100px;
}
 @media screen and (max-width: 600px) {
    .imgbx_sh {
      float: none;
        width:100%;
    }